    <div class="hero-main-content">
        <div class="hero_info">
            <h1>Welcome and Congratulations to all the WMAD Seniors. Class of 2022!</h1>
        </div>
    </div>
    <div class="intro_info">
        <p>Welcome to my WMAD Senior Site! Feel free to look around. </p>
        <p>You will find the schedules for Senior A & B, as well as any important dates coming up, the local weather in Moncton, and our co-ordinating instructors information.</p>
    </div>
    <div class="index_updates">
        <img src="images/update.png" alt="">
        <div class="updates-info">
            <h1>Latest Updates - Sept 9th, 2021</h1>
            <ul>
                <li>We are back at it again!</li>
                <li><span>Health Concerns:</span> We are back on Campus Monday/Tuesday/Wednesday of each week. All instructors and students have been mandated to get the COVID-19 Vaccine, otherwise they will be frequently tested in accordance with public
                    health guidelines. Proof of Vaccination will be required.</li>
                <li>We are still waiting on the Proof of Vaccination portal to be opened up on the NBCC Website.</li>
                <li>All students and Instructors will be required to wear masks at all times, unless giving a presentation at the front of the class.</li>
                <li>Looks like this fall term is going to be jam packed full of work, but so far it sounds great. I personally am looking forward to everything tying together.</li>
                <br>
                <li>For more information about what to expect this upcoming fall term, you can find the link <a href="https://nbcc.ca/admissions/what-can-i-expect" target="_blank">here</a>.</li>
            </ul>
            <h1>Latest Updates - Aug 31st, 2021</h1>
            <ul>
                <li>One more week to go!</li>
                <li><span>Health Concerns:</span> We will be returning to campus for in-person instruction 2-3 days per week. All instructors and students have been mandated to get the COVID-19 Vaccine, otherwise they will be frequently tested in accordance
                    with public health guidelines. Proof of Vaccination will be required.</li>
                <li><span>New Update!! </span>Chris Cusack has created a Seniors only channel on Slack for us, if you haven't received an invitation let someone know or contact Chris Cusack directly.</li>
                <li>Chris has also sent out an email with the Orientation information attached. Currently we are going to be required at the NBCC Moncton Campus by 8:30 AM, the 8th of Aug 2021. Our homeroom class number will be in the email, if you require
                    it don't hestitate to contact me directly.</li>
                <li>Dave Burchill has informed everyone in the Slack Random channel that we will most likely be on Campus for in-peron classe's on Monday, Tuesday & Wednesday. All testing will be carried out on Campus. Sidenote: All of this will subject to
                    the Instructors requirements/wishes.</li>
                <br>
                <li>For more information about what to expect this upcoming fall term, you can find the link <a href="https://nbcc.ca/admissions/what-can-i-expect" target="_blank">here</a>.</li>
            </ul>
            <h1>Latest Updates - Aug 21st, 2021</h1>
            <ul>
                <li>We are currently on track to return on the 8th of September, 2021</li>
                <li><span>Health Concerns:</span> We will be returning to campus for in-person instruction 2-3 days per week. All instructors have been mandated to get the COVID-19 Vaccine, otherwise they will be frequently tested in accordance with public
                    health guidelines.</li>
                <li>The student body currently doesn't require the vaccine, however it is strongly encouraged. (Obvious medical concerns are exceptions), in which case I believe we should maintain as much social distancing as possible.<br><br>Even if we are
                    not required to social distance, personally I will maintain a healthy distance to protect my family from any potential exposures.</li>
                <li>For more information about what to expect this upcoming fall term, you can find the link <a href="https://nbcc.ca/admissions/what-can-i-expect" target="_blank">here</a>.</li>
            </ul>
        </div>
    </div>
    <div class="index_cards_container">
        <div class="cards">
            <div class="card card1">
                <div class="card-content">
                    <h3 class="card-title">Schedule</h3>
                    <p class="card-body">Here you can find an interactive calendar to pick which day of the week and the classes we have.</p>
                    <a href="schedule.html"><button>Learn More</button></a>
                </div>
            </div>
            <div class="card card2">
                <div class="card-content">
                    <h3 class="card-title">Weather</h3>
                    <p class="card-body">Check to see what the weather will be for the day in Moncton, you never know when you might need an umbrella.</p>
                    <a href="weather.html"><button>Learn More</button></a>
                </div>
            </div>
            <div class="card card3">
                <div class="card-content">
                    <h3 class="card-title">Message Boards</h3>
                    <!-- <p class="card-body">Come check out my local message boards, you can post questions or just discuss commons themes.</p> -->
                    <p class="card-body">WORK-IN-PROGRESS<br><br><br></p>
                    <a href="boards.html" class="wip"><button>Learn More</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="index_updates index_textbooks">
        <img src="images/textbooks.jpg" alt="">
        <div class="updates-info">
            <h1>Required Textbooks</h1>
            <ul>
                <li>Murach’s Java Programming, 5th Edition<br>ISBN: 9781943872077<br>Author: Murach<br>Find the link to buy <a href="https://www.murach.com/shop-books/all/categories?virtuemart_category_id=0">here</a></li>
            </ul>
            <h1>Recommended Equipment</h1>
            <ul>
                <li>Durable laptop backpack</li>
                <li>Pencils/Pens (If you like to take notes)</li>
                <li>Notebooks</li>
                <li>Water Bottle</li>
                <li>Snacks (If you want)</li>
                <li>Lunch or money to eat out</li>
                <li>Reliable Coffee Mug (Contigo's from Costco are really nice)</li>
                <li>External HDD (If you prefer, not required by no means, can save everthing to GitHub)</li>
                <li>Portable Battery Charger for Phone etc. (Again not required, just nice to have)</li>

            </ul>
        </div>
    </div>