   <footer>
        <div class="footer-info">
            <a href="https://www.linkedin.com/in/brian-aylward-9a65101ab/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="index.html"><img src="images/logo.png" alt=""></a>
            <h4>&copy; Brian Aylward - 2021</h4>

        </div>
    </footer>