 <nav class="navBar">
        <a href="/" id="home-link"><img src="images/logo.png" alt="" id="logo"></a>
        <h2>WMAD Senior Information Site</h2>
        <div class="hamburger">
            <div class="hamburger_line"></div>
            <div class="hamburger_line"></div>
        </div>
        <ul class="navList">
            <li><a href="/">Home</a></li>
            <li><a href="/schedule">Schedule</a></li>
            <li><a href="/weather">Weather</a></li>
            <li><a href="/boards" class="wip">Message Boards</a></li>
        </ul>
    </nav>
    <div class="important-dates_side-bar">
        <div class="id-side-btn">
            <!-- <h2>Important Dates</h2> -->
            <div class="sidebar-line side-line1"></div>
            <div class="sidebar-line side-line2"></div>
        </div>
        <div class="id-side-content">
            <h2>Important Dates</h2>
            <ul>
                <li>8th Sept, 2021 - First day of School</li>
                <li>10th Sept, 2021 - Tuition and Fees Due</li>
                <li>17th Sept, 2021 - Last Day to Withdraw with a Full Tuition Refund</li>
                <li>11th Oct, 2021 - Holiday-Thanksgiving Day (No Classes)</li>
                <li>25th Oct, 2021 - 29th Oct 2021 - Student Success Week (No Classes)</li>
                <li>11th Nov, 2021 - Holiday-Remembrance Day (No Classes)</li>
            </ul>
        </div>
    </div>