.important-dates_side-bar {
    z-index: 99;
    position: fixed;
    left: 0;
    top: 20%;
    display: flex;
    flex-direction: row-reverse;
    transform: translateX(-88%);
    transition: transform linear 300ms;
    .id-side-btn {
        background-color: #000;
        width: 50px;
        border-radius: 0 20px 20px 0;
        padding: .5rem;
        height: 100%;
        margin-top: 6rem;
        .sidebar-line {
            width: 27px;
            height: 3px;
            background-color: #fff;
            margin: 1rem 0;
            transition: transform linear 200ms;
        }
        .side-line1 {
            transform: rotate(45deg);
        }
        .side-line1.side-line-toggle {
            transform: rotate(-45deg);
        }
        .side-line2 {
            transform: rotate(-45deg);
        }
        .side-line2.side-line-toggle {
            transform: rotate(45deg);
        }
    }
    // h2 {
    //     writing-mode: vertical-rl;
    //     text-orientation: upright;
    //     font-size: 1.4rem;
    //     cursor: pointer;
    // }
}

.id-side-content {
    background-color: #000;
    padding: 2rem;
    h2 {
        padding-bottom: 1rem;
        text-align: center;
    }
    ul {
        list-style: none;
        li {
            text-align: center;
            margin: .5rem 0;
        }
    }
}

.important-dates_side-bar.slide-out {
    transform: translateX(0);
}