.schedule_container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10rem 4rem;
    gap: 10rem;
    .calendar {
        width: 45rem;
        height: 52rem;
        background-color: #222227;
        box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
        .month {
            width: 100%;
            height: 12rem;
            background: linear-gradient(320deg, rgba(155, 0, 0, .9), rgba(0, 0, 0, 1)) center center no-repeat;
            background-size: cover;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;
            text-align: center;
            text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
            i {
                font-size: 2.5rem;
                cursor: pointer;
            }
            h1 {
                font-size: clamp(2rem, 4vw, 3rem);
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 0.2rem;
                margin-bottom: 1rem;
            }
            p {
                font-size: clamp(1rem, 2vw, 1.6rem);
            }
        }
        .weekdays {
            width: 100%;
            height: 5rem;
            padding: 0 .4rem;
            display: flex;
            align-items: center;
            div {
                font-size: clamp(.5rem, 1.5rem, 1.5rem);
                font-weight: 400;
                letter-spacing: 0.1rem;
                width: calc(44.2rem/7);
                display: flex;
                justify-content: center;
                align-items: center;
                text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
            }
        }
        .days {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(7, 14%);
            padding: 0.2rem;
            div {
                font-size: 1.4rem;
                margin: .3rem;
                height: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
                transition: background-color ease 200ms;
                &:hover:not(.today) {
                    background-color: #262626;
                    border: .2rem solid #777;
                    cursor: pointer;
                }
            }
        }
        .prev-date,
        .next-date {
            opacity: .5;
        }
        .current {
            background: linear-gradient(320deg, rgba(155, 0, 0, .9), rgba(0, 0, 0, 1)) center center no-repeat;
            background-size: cover;
        }
    }
    .schedule-info {
        background-color: #fff;
        color: #000;
        width: 50%;
        padding: 3rem;
        border-radius: 20px;
        h2 {
            font-size: 2rem;
        }
        ul {
            list-style: none;
            li {
                .class1 {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 1rem 0;
                    position: relative;
                    h3,
                    p {
                        margin-top: 1rem;
                    }
                    h3 {
                        font-size: 1.5rem;
                    }
                    p {
                        font-size: 1.2rem;
                    }
                    &::after {
                        content: "";
                        width: 50%;
                        position: absolute;
                        bottom: -.5rem;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 2px;
                        background-color: #900;
                        border-radius: 20px;
                    }
                }
                .lunch {
                    justify-content: center;
                }
            }
        }
    }
}

@media only screen and (max-width:1550px) {
    .schedule_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .schedule-info {
            background-color: #fff;
            color: #000;
            width: 100%;
            padding: 3rem;
            border-radius: 20px;
            h2 {
                font-size: 2rem;
            }
            ul {
                list-style: none;
                li {
                    .class1 {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 1rem 0;
                        position: relative;
                        h3,
                        p {
                            margin-top: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:750px) {
    .schedule_container {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10rem 0;
        gap: 10rem;
        .calendar {
            width: 100%;
            height: 52rem;
            background-color: #222227;
            box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
            .month {
                width: 100%;
                height: 12rem;
                background: linear-gradient(320deg, rgba(155, 0, 0, .9), rgba(0, 0, 0, 1)) center center no-repeat;
                background-size: cover;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 .5rem;
                text-align: center;
                text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
                i {
                    font-size: 2.5rem;
                    cursor: pointer;
                }
                h1 {
                    font-size: clamp(2rem, 4vw, 3rem);
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: 0.2rem;
                    margin-bottom: 1rem;
                }
                p {
                    font-size: clamp(1rem, 2vw, 1.6rem);
                }
            }
            .weekdays {
                width: 100%;
                height: 5rem;
                padding: 0 .4rem;
                display: flex;
                align-items: center;
                div {
                    font-size: clamp(1rem, 4vw, 1.5rem);
                    font-weight: 400;
                    letter-spacing: 0.1rem;
                    width: calc(100%/7);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
                }
            }
            .days {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(7, 14%);
                padding: 0.2rem;
                div {
                    font-size: 1.4rem;
                    margin: .3rem;
                    &:hover:not(.today) {
                        background-color: unset;
                        border: unset;
                        cursor: unset
                    }
                }
            }
        }
        .schedule-info {
            padding: 3rem .5rem;
            border-radius: 20px;
            h2 {
                font-size: 2rem;
            }
            ul {
                width: 100%;
                li {
                    width: 100%;
                    .class1 {
                        width: 100%;
                    }
                }
            }
        }
    }
}