.weather-section_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    margin: 8rem 0;
    .five-day-container {
        min-height: 400px;
        width: 30%;
        min-width: 280px;
        border-radius: 20px;
        background: linear-gradient(320deg, rgba(155, 0, 0, .9), rgba(0, 0, 0, 1)) center center no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .five-day {
            width: 80%;
            min-height: 100px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #fff;
            * {
                margin: 0 1rem;
                font-size: 1.3rem;
                text-shadow: 0 2px rgba(0, 0, 0, .6);
            }
        }
    }
    .weather_container {
        display: flex;
        flex-direction: column;
        min-height: 400px;
        width: 30%;
        min-width: 280px;
        border-radius: 20px;
        header {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px 15px 15px;
            input {
                width: 100%;
                max-width: 280px;
                padding: 10px 15px;
                background: rgba(255, 255, 255, 0.3);
                border: none;
                outline: none;
                color: #313131;
                border-radius: 16px;
                font-size: 1.3rem;
                &:focus {
                    background: rgba(255, 255, 255, 0.6);
                }
            }
        }
        main {
            flex: 1 1 100%;
            padding: 25px 25px 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .location {
                .city {
                    font-size: 2rem;
                    font-weight: 500;
                    margin-bottom: 5px;
                }
                .date {
                    font-size: 1rem;
                }
            }
            .current {
                .temp {
                    font-size: 5rem;
                    margin: 30px 0;
                    text-shadow: 2px 8px rgba(0, 0, 0, .6);
                    span {
                        font-weight: 500;
                    }
                }
                .weather,
                .feels-like {
                    font-size: 2rem;
                    font-weight: 400;
                    margin-bottom: 15px;
                    text-shadow: 1px 3px rgba(0, 0, 0, 0.4);
                }
                .hi-low,
                .humidity {
                    font-size: 24px;
                    font-weight: 500;
                    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .weather-section_container {
        .five-day-container {
            .five-day {
                * {
                    margin: 0;
                    font-size: clamp(1rem, 2vw, 1.3rem);
                    padding: 0 1rem;
                }
            }
        }
    }
}